*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-bar{
    display: flex;
    width: 100%;
    background: #0a5071;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}
.menu-bar .icon{
    font-size: 30px;
    font-weight: 800;
    color: white;
    cursor: pointer
}
.menu-bar ul{
    display: flex;
    list-style: none;
    margin: auto 0;
}
.menu-bar ol li{
    margin: 0 2px;
}
.menu-bar ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}
.menu-bar ul li:hover a{
    background: white;
    color: #0a5071;
}
.menu-bar .searchbox{
       display: flex;
       margin: auto 0;
       height: 35px;
       line-height: 35px;
}
.menu-bar .searchbox input{
    border: none;
    outline: none;
    background: white;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
}
.menu-bar .searchbox span{
    color: #0a5071;
    font-size: 20px;
    background: white;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.menu-bar .searchbox span::after{
    height: 100%;
    width: 100%;
    content: '';
    background: #ff003c;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
